ENCRYPTION_SECRET=
JWT_SECRET=
BASE_URL =http://localhost:3000
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=
UMAMI_API_KEY=
UMAMI_API_CLIENT_ENDPOINT=
UMAMI_API_CLIENT_USER_ID=
UMAMI_WEBSITE_ID=
# Connect to Supabase via connection pooling
DATABASE_URL=



# Direct connection to the database. Used for migrations
DIRECT_URL=


SUPABASE_URL=

SUPABASE_SERVICE_ROLE_KEY=



GOOGLE_CLIENT_ID=
CLIENT_SECRET=



COOKIES=false

SMTP_EMAIL=jhonbraynrafer@mabinicolleges.edu.ph
SMTP_PASS=ghhhfsiodaenmgyh

JWT_VERIFY_SECRET=sk-a7Fq2mXvR9pLdN4wKjY8uCeT3bZhG6oWsE1nViP5cQ0yMAJtHrOlBfDgUx
JWT_RESET_SECRET=sk-a7Fq2mXvR9pLdN4wKjY8uCeT3bZhG6oWsE1nViP5cQ0yMAJtHrOlBfDgUx
FRONTEND_URL=http://localhost:5173